In [1]:
width = 17
height = 12.0
delimiter = '.'

In [3]:
print (width/2)
print (width/2.0)
print (height/3)
print (1+2*5)

8.5
8.5
4.0
11

In [5]:
4/3 * 3.14 * 5**3

523.3333333333334

In [17]:
((24.95*.6)+3)+((24.95*.6)+.75)*59

945.4499999999999

In [9]:
(2* (8 +15/60)+ (7 +12/60) *3)

38.1

In [20]:
38.1/60 + (6 + 52/60)

7.501666666666667

In [12]:
((24.95*.6)+3)+((24.95*.6)+.75)*59

945.4499999999999

In [24]:
#Write to a file, whatever is in the parenthesis 
#after open is the name of the file
#'w' means is writting.
JanTry1=open('FileTrial.dat',"w")
JanTry1.write("12345")
JanTry1.write("67890")
JanTry1.close()

In [25]:
#Write to a file, whatever is in the parenthesis 
#after open is the name of the file
#'r' means is reading
JanTry1=open('FileTrial.dat',"r")
print (JanTry1.read())
JanTry1.close()

1234567890

In [26]:

JanTry1=open('FileTrial.dat',"w")
#Write onto separate lines using \n
JanTry1.write("12345\n") 
JanTry1.write("67890\n")
JanTry1.write("bio\n")
JanTry1.close()

In [27]:
JanTry1=open('FileTrial.dat',"r")
print (JanTry1.read())
JanTry1.close()

12345
67890
bio

In [29]:
JanTry1=open('FileTrial.dat',"r")
a = JanTry1.readline()
print ("The first line is", a)
JanTry1.close()

The first line is 12345

In [32]:
JanTry1=open('FileTrial.dat',"r")
a = JanTry1.readline() #readline works by setting the cursor ar the end of the first line
b = JanTry1.readline()
print ("The first line is", a)
print ("The second line is", b)
JanTry1.close()

The first line is 12345

The second line is 67890

In [33]:
JanTry1=open('FileTrial.dat',"r")
a = JanTry1.readline() #readline works by setting the cursor ar the end of the first line
b = JanTry1.readline()

print (a + b)
JanTry1.close()

12345
67890

In [35]:
JanTry1=open('FileTrial.dat',"r")
a = JanTry1.readline() #readline works by setting the cursor ar the end of the first line
b = JanTry1.readline()
#turning string to int
print (int(a) + int(b))
JanTry1.close()

80235

In [3]:
import pandas as pd
#dataframe from CSV file
df1 = pd.read_csv("income_data.csv")
print (df1)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  47215  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [8]:
#dataframe from CSV file
df2 = pd.read_csv("fortune500.csv")
print(df2.head())

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [9]:
import pandas as pd
#dataframe from CSV file
df1 = pd.read_csv("income_data.csv")
df1.mean()

2005    45339.8
2006    46680.6
2007    49789.8
2008    50395.8
2009    47999.0
2010    47709.4
2011    48662.2
2012    50038.8
2013    50113.4
dtype: float64

In [10]:
df3 = pd.read_excel("fortune501.xlsx")
df3.describe()

              Year          Rank  Revenue (in millions)
count  25500.00000  25500.000000           25500.000000
mean    1980.00000    250.499765            4273.329635
std       14.71989    144.339963           11351.884979
min     1955.00000      1.000000              49.700000
25%     1967.00000    125.750000             362.300000
50%     1980.00000    250.500000            1019.000000
75%     1993.00000    375.250000            3871.000000
max     2005.00000    500.000000          288189.000000